# Ignore everything except this file
*
!.gitignore

# Add config
!README.md
!configuration.yaml
!automations.yaml
!scripts.yaml 
!scenes.yaml
!customize.yaml
!groups.yaml
!animated_background.yaml

# Add esphome
!libretuya-esphome/
!libretuya-esphome/*.yaml
!libretuya-esphome/includes/
!libretuya-esphome/includes/*.yaml

# Add packages
!packages/
!packages/*.yaml

# Add lovelace
!ui-lovelace.yaml
!resources.yaml
!lovelace_rooms.yaml
!lovelace_views.yaml
!lovelace/
!lovelace/*.yaml
!lovelace/.cards/
!lovelace/.cards/*.yaml
!lovelace/.cards/popups/
!lovelace/.cards/popups/*.yaml
!themes/
!themes/transparent.yaml
!templates/
!templates/*.j2

# Add appdaemon
!appdaemon/
!appdaemon/apps/
!appdaemon/apps/apps.yaml

# Add blueprints
!blueprints/
!blueprints/automation/
!blueprints/automation/**/*.yaml
!blueprints/script/
!blueprints/script/**/*.yaml

# Add www
!www/
!www/style.css
!www/style.js
!www/persistentsettings.js
!www/images/
!www/images/wallpapers/
!www/images/wallpapers/*.png
!www/images/wallpapers/*.jpg
